@charset "UTF-8";
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  padding-bottom: 30rem;
}

@supports (-webkit-touch-callout: none) {
  header {
    /* Safari用のハック */
    height: -webkit-fill-available;
  }
}
main {
  margin: 0 2rem;
}
@media (min-width: 769px) {
  main {
    margin: 0 5rem;
  }
}
@media (min-width: 1100px) {
  main {
    margin: 0 10rem;
  }
}

.container__right-button--right,
.container__left-link {
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 15rem;
  height: 4rem;
  transition: 0.5s;
  border-radius: 5rem;
  background-color: #FFFF11;
  border: solid 0.1rem #009900;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
@media (min-width: 769px) {
  .container__right-button--right,
.container__left-link {
    margin: 0 auto;
  }
  .container__right-button--right:hover,
.container__left-link:hover {
    transform: scale(1.2);
  }
}

/*.more-left {
    margin: 0 auto;
    @media(min-width: 769px) {
        margin: 0 auto;

    }
}

.right-content, .left-content {
    opacity: 0;
}

*/
header {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 2rem;
  box-sizing: border-box;
  z-index: 101;
}
@media (min-width: 769px) {
  .header {
    padding: 0;
  }
}
.header__logo {
  text-decoration: none;
}
@media (min-width: 769px) {
  .header__logo {
    transition: 0.5s;
  }
  .header__logo:hover {
    transform: scale(1.2);
  }
}
.header__logo-text {
  margin: 0;
  color: #009900;
  font-size: 2.4rem;
  font-family: 600;
}
@media (min-width: 769px) {
  .header__logo-text {
    padding-left: 2rem;
  }
}
@media (min-width: 1100px) {
  .header__logo-text {
    padding-left: 5rem;
  }
}
@media (min-width: 769px) {
  .header__menu-btn--open, .header__menu-btn--close {
    display: none;
  }
}
.header__menu-btn--close {
  display: none;
}
.header i {
  color: #009900;
  font-size: 2.4rem;
}
.header__pc-nav {
  display: none;
}
@media (min-width: 769px) {
  .header__pc-nav {
    display: block;
  }
}
@media (min-width: 769px) {
  .header__pc-nav-lists {
    display: flex;
  }
}
@media (min-width: 769px) {
  .header__pc-nav-list {
    list-style: none;
    padding-right: 2rem;
    transition: 0.5s;
  }
}
@media (min-width: 1100px) {
  .header__pc-nav-list {
    padding-right: 5rem;
  }
}
@media (min-width: 769px) {
  .header__pc-nav-list:hover {
    transform: scale(1.2);
  }
}
@media (min-width: 769px) {
  .header__pc-nav-link {
    text-decoration: none;
    color: #009900;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
@media (min-width: 1100px) {
  .header__pc-nav-link {
    font-size: 1.6rem;
  }
}
.header__sp-nav {
  position: fixed;
  top: 5rem;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  display: none;
  background-color: rgba(0, 153, 0, 0.9);
  width: 100vw;
  height: auto;
  z-index: 100;
}
@media (min-width: 769px) {
  .header__sp-nav {
    display: none;
  }
}
.header__sp-nav-lists {
  padding-top: 8rem;
  text-align: center;
}
.header__sp-nav-list {
  list-style: none;
  padding-bottom: 6rem;
}
.header__sp-nav-link {
  color: #fff;
  text-decoration: none;
  font-size: 2.4rem;
}

.catch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
@media (min-width: 769px) {
  .catch {
    height: calc(100vh - 5rem);
    overflow: hidden;
  }
}
.catch__carousel {
  width: 100vw;
}
.catch__carousel-img {
  object-fit: cover;
  height: auto;
  width: 100%;
}
@media (min-width: 769px) {
  .catch__carousel-img {
    height: 100vh;
  }
}
.catch__container {
  position: absolute;
  background: rgba(0, 153, 0, 0.7);
  width: 85%;
  padding: 1rem 0;
}
@media (min-width: 769px) {
  .catch__container {
    margin: 0 5rem;
  }
}
@media (min-width: 1100px) {
  .catch__container {
    margin: 0 18.3rem;
  }
}
.catch__container-text {
  text-align: center;
  color: #fff;
  font-size: 2.4rem;
}
@media (min-width: 769px) {
  .catch__container-text {
    font-size: 3.6rem;
  }
}

.slick-dots {
  bottom: 5%;
}
.slick-dots li button:before {
  opacity: 1;
  color: #fff;
  z-index: 3;
  font-size: 1rem;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #FFFF11;
  font-size: 1.2rem;
}

ul .slick-active {
  animation: none;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.active {
  border-bottom: 0.5rem solid #fff;
}
@media (min-width: 769px) {
  .active {
    border-color: #009900;
  }
}

.container__right {
  padding-top: 5rem;
}
@media (min-width: 769px) {
  .container__right {
    padding: 10rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.container__right-photo {
  padding-left: 6rem;
}
@media (min-width: 769px) {
  .container__right-photo {
    width: 50%;
  }
}
.container__right-img {
  width: 100%;
  height: auto;
}
.container__right-text-area {
  position: relative;
}
@media (min-width: 769px) {
  .container__right-text-area {
    width: 50%;
  }
}
.container__right-circle {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 10%;
  right: 0%;
  background: rgba(0, 153, 0, 0.4);
  border-radius: 50%;
  z-index: -1;
}
@media (min-width: 769px) {
  .container__right-circle {
    right: 20%;
    width: 12rem;
    height: 12rem;
  }
}
.container__right-heading {
  padding: 2rem 0 1.5rem 4rem;
  text-align: right;
  font-size: 1.6rem;
}
@media (min-width: 769px) {
  .container__right-heading {
    padding-left: 0;
    text-align: center;
    font-size: 2.4rem;
  }
}
.container__right-text {
  width: 60%;
  margin-left: 40%;
  font-size: 1.4rem;
  padding: 0 0 4rem 4rem;
}
@media (min-width: 769px) {
  .container__right-text {
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 0;
    padding-bottom: 6rem;
  }
}
.container__right-button--right {
  text-align: center;
}
@media (min-width: 769px) {
  .container__right-button--right {
    text-align: center;
  }
}
.container__right-button-link {
  margin: 0 auto;
  text-decoration: none;
  color: #000;
}

.container__left {
  padding-top: 5rem;
}
@media (min-width: 769px) {
  .container__left {
    padding: 10rem 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}
.container__left-photo {
  padding-right: 6rem;
}
@media (min-width: 769px) {
  .container__left-photo {
    width: 50%;
  }
}
.container__left-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container__left-text-area {
  position: relative;
}
@media (min-width: 769px) {
  .container__left-text-area {
    width: 50%;
  }
}
.container__left-circle {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 10%;
  left: 0;
  background: rgba(0, 153, 0, 0.4);
  border-radius: 50%;
  z-index: -1;
}
@media (min-width: 769px) {
  .container__left-circle {
    left: 20%;
    width: 12rem;
    height: 12rem;
  }
}
.container__left-heading {
  padding: 2rem 4rem 1.5rem 0;
  font-size: 1.6rem;
}
@media (min-width: 769px) {
  .container__left-heading {
    text-align: center;
    padding-right: 0;
    font-size: 2.4rem;
  }
}
.container__left-text {
  width: 60%;
  font-size: 1.4rem;
  padding: 0 4rem 4rem 0;
}
@media (min-width: 769px) {
  .container__left-text {
    margin: 0 auto;
    font-size: 1.6rem;
    padding: 0;
    padding-bottom: 6rem;
  }
}

.footer {
  margin-top: 10rem;
  background-color: #009900;
  text-align: center;
  padding-bottom: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (min-width: 769px) {
  .footer {
    margin-top: 15rem;
  }
}
.footer__logo {
  padding: 2rem 0 2rem 2rem;
  font-size: 1.6rem;
  text-align: left;
}
@media (min-width: 769px) {
  .footer__logo {
    padding: 3rem 0 3rem 5rem;
    font-size: 2rem;
  }
}
.footer__nav-lists {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 769px) {
  .footer__nav-lists {
    padding-left: 5rem;
    padding-bottom: 4rem;
  }
}
.footer__nav-lists-list {
  list-style: none;
  width: 50%;
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .footer__nav-lists-list {
    padding: 0;
    width: calc((100% - 5rem) / 5);
    transition: 0.5s;
  }
  .footer__nav-lists-list:hover {
    transform: scale(1.2);
  }
}
.footer__nav-lists-link {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
  text-align: center;
}
@media (min-width: 769px) {
  .footer__nav-lists-link {
    font-size: 1.4rem;
  }
}
@media (min-width: 769px) {
  .footer__nav-lists-link {
    transition: 0.5s;
  }
  .footer__nav-lists-link:hover {
    color: #fff;
  }
}
@media (min-width: 769px) {
  .footer__copy {
    font-size: 1.2rem;
  }
}

.header2 {
  position: relative;
  top: 0;
  height: 35rem;
}
@media (min-width: 769px) {
  .header2 {
    height: 70vh;
  }
}
.header2__catch {
  position: absolute;
  top: 5rem;
  width: 100%;
  height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) {
  .header2__catch {
    height: calc(70vh - 5rem);
  }
}
.header2__catch--about-img {
  background-image: url(../images/about-2.jpg);
}
.header2__catch-title {
  background: rgba(0, 153, 0, 0.7);
  margin: 0 2rem;
  width: 100%;
  padding: 1rem 0;
}
@media (min-width: 769px) {
  .header2__catch-title {
    margin: 0 5rem;
  }
}
.header2__catch-text {
  color: #fff;
  font-size: 2.4rem;
  text-align: center;
}

.about__container {
  padding-top: 5rem;
}
@media (min-width: 769px) {
  .about__container {
    padding-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.about__container-photo {
  display: none;
}
@media (min-width: 769px) {
  .about__container-photo {
    display: block;
    width: 50%;
  }
}
.about__container-img {
  width: 100%;
  height: auto;
}
@media (min-width: 769px) {
  .about__container-text-area {
    width: 50%;
  }
}
.about__container-heading {
  font-size: 3rem;
  padding-bottom: 3rem;
  text-align: center;
}
.about__container-text {
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (min-width: 769px) {
  .about__container-text {
    width: 80%;
    margin: 0 auto;
    font-size: 1.6rem;
  }
}

.header2__catch--seisaku-img {
  background-image: url(../images/seisaku.jpg);
}

.seisaku-content {
  padding-top: 5rem;
}
@media (min-width: 769px) {
  .seisaku-content {
    padding-top: 10rem;
  }
}
@media (min-width: 769px) {
  .seisaku-content__top {
    display: flex;
    align-items: center;
  }
}
.seisaku-content__top__photo {
  display: none;
}
@media (min-width: 769px) {
  .seisaku-content__top__photo {
    display: block;
    width: 50%;
    height: auto;
  }
}
@media (min-width: 769px) {
  .seisaku-content__top__photo__img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 769px) {
  .seisaku-content__top__textarea {
    width: 50%;
  }
}
.seisaku-content__top__textarea__text {
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (min-width: 769px) {
  .seisaku-content__top__textarea__text {
    width: 80%;
    margin: 0 auto;
    font-size: 1.6rem;
  }
}
@media (min-width: 769px) {
  .seisaku-content__top__textarea {
    width: 50%;
  }
}
.seisaku-content__heading {
  font-size: 2.4rem;
  padding-top: 5rem;
  text-align: center;
}
@media (min-width: 769px) {
  .seisaku-content__heading {
    padding-top: 10rem;
    font-size: 3rem;
  }
}
.seisaku-content__order__flow {
  padding-top: 5rem;
}
@media (min-width: 769px) {
  .seisaku-content__order__flow {
    padding-top: 10rem;
    width: 100%;
  }
}
.seisaku-content__order__flow__heading {
  font-size: 1.6rem;
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .seisaku-content__order__flow__heading {
    font-size: 2rem;
  }
}
.seisaku-content__order__flow__container {
  width: 100%;
}
@media (min-width: 769px) {
  .seisaku-content__order__flow__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (min-width: 769px) {
  .seisaku-content__order__flow__container__photo {
    width: 50%;
  }
}
.seisaku-content__order__flow__container__photo__img {
  width: 100%;
  height: auto;
}
@media (min-width: 769px) {
  .seisaku-content__order__flow__container__textarea {
    width: 50%;
  }
}
.seisaku-content__order__flow__container__textarea__text {
  padding-top: 2rem;
  font-size: 1.2rem;
}
@media (min-width: 769px) {
  .seisaku-content__order__flow__container__textarea__text {
    width: 80%;
    padding: 0;
    margin: 0 auto;
    font-size: 1.6rem;
  }
}
.seisaku-content__order__flow i {
  display: block;
  padding-top: 5rem;
  text-align: center;
  font-size: 2rem;
}
@media (min-width: 769px) {
  .seisaku-content__order__flow i {
    padding-top: 10rem;
    font-size: 8rem;
  }
}

.header2__catch--work-img {
  background-image: url(../images/work.jpg);
}

.work-container {
  padding-top: 5rem;
}
@media (min-width: 769px) {
  .work-container {
    padding-top: 10rem;
  }
}
@media (min-width: 769px) {
  .work-container__top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.work-container__top__photo {
  display: none;
}
@media (min-width: 769px) {
  .work-container__top__photo {
    display: block;
    width: 50%;
  }
  .work-container__top__photo__img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 769px) {
  .work-container__top__textarea {
    width: 50%;
  }
}
.work-container__top__textarea__text {
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (min-width: 769px) {
  .work-container__top__textarea__text {
    width: 100%;
    text-align: justify;
    font-size: 1.6rem;
    padding-left: 2rem;
  }
}
.work-container__carousel {
  padding-top: 5rem;
}
@media (min-width: 769px) {
  .work-container__carousel {
    padding-top: 10rem;
  }
}
.work-container__carousel__content__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.work-container__carousel__content__textarea {
  border: 0.1rem solid #000;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  margin-bottom: 2rem;
}
.work-container__carousel__content__textarea__text {
  font-size: 1.2rem;
}
.work-container__carousel .slick-dots {
  position: static;
}
.work-container__carousel li button:before {
  opacity: 1;
  color: #000;
  z-index: 3;
  font-size: 1rem;
}
.work-container__carousel li.slick-active button:before {
  opacity: 1;
  color: #009900;
  font-size: 1.2rem;
}

.header2__catch--saiyou-img {
  background-image: url(../images/saiyou1.jpg);
}

.recruit__container {
  padding-top: 5rem;
}
@media (min-width: 769px) {
  .recruit__container {
    padding-top: 10rem;
  }
}
.recruit__container__terms-heading {
  font-size: 1.6rem;
}
@media (min-width: 769px) {
  .recruit__container__terms-heading {
    font-size: 2rem;
  }
}
.recruit__container__terms-must {
  padding-top: 2rem;
}
@media (min-width: 769px) {
  .recruit__container__terms-must {
    padding-top: 5rem;
  }
}
.recruit__container__terms-lists {
  text-align: center;
}
.recruit__container__terms-list {
  list-style: none;
  font-size: 1.4rem;
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .recruit__container__terms-list {
    font-size: 1.6rem;
    padding-bottom: 4rem;
  }
}
.recruit__container__flow {
  padding-top: 3rem;
}
@media (min-width: 769px) {
  .recruit__container__flow {
    padding-top: 5rem;
  }
}
.recruit__container__flow-heading {
  font-size: 1.6rem;
}
@media (min-width: 769px) {
  .recruit__container__flow-heading {
    font-size: 2rem;
  }
}
.recruit__container__flow-box {
  padding-top: 2rem;
}
@media (min-width: 769px) {
  .recruit__container__flow-box {
    padding-top: 5rem;
  }
}
.recruit__container__flow-sp-lists {
  text-align: center;
}
@media (min-width: 769px) {
  .recruit__container__flow-sp-lists {
    display: none;
  }
}
.recruit__container__flow-sp-list {
  list-style: none;
  font-size: 1.4rem;
  padding-bottom: 2rem;
}
.recruit__container__flow-sp-list:last-child {
  padding: 0;
}
.recruit__container__flow-pc-lists {
  display: none;
}
@media (min-width: 769px) {
  .recruit__container__flow-pc-lists {
    display: flex;
    text-align: center;
  }
}
@media (min-width: 769px) {
  .recruit__container__flow-pc-list {
    width: 20%;
    list-style: none;
    font-size: 1.6rem;
  }
}

.header2__catch--contact-img {
  background-image: url(../images/contact.jpg);
}

.contact__container {
  padding-top: 5rem;
}
.contact__container-text, .contact__container-text--padding {
  padding-bottom: 1.5rem;
  font-size: 1.4rem;
}
.contact__container-text--padding {
  padding-bottom: 5rem;
}
.contact__container-form-list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}
@media (min-width: 769px) {
  .contact__container-form-list {
    flex-direction: row;
    padding-bottom: 5rem;
  }
}
.contact__container-form-list:last-child {
  padding: 0;
}
.contact__container-form-label {
  margin-left: 0;
  margin-right: auto;
}
@media (min-width: 769px) {
  .contact__container-form-label {
    width: 40%;
    display: flex;
    justify-content: flex-start;
  }
}
.contact__container-form-radio-label {
  padding-right: 1.5rem;
}
@media (min-width: 769px) {
  .contact__container-form-radio-label {
    padding-right: 3rem;
  }
}
.contact__container-form-area {
  width: 100%;
  margin-left: 0;
  margin-right: auto;
  height: 3rem;
}
@media (min-width: 769px) {
  .contact__container-form-area {
    width: 60%;
  }
}
.contact__container-form-text-filed {
  height: 6rem;
}
.contact__container-form-list-radio {
  display: flex;
  flex-direction: row;
  padding-bottom: 2rem;
}
@media (min-width: 769px) {
  .contact__container-form-list-radio {
    padding-bottom: 5rem;
  }
}
.contact__container-form-button {
  justify-content: center;
}
.contact__container-form-button-btn {
  width: 12rem;
  height: 3rem;
  border: none;
  outline: none;
  background: transparent;
  background-color: #FFFF11;
  border: 0.1rem solid #009900;
  border-radius: 5rem;
}
@media (min-width: 769px) {
  .contact__container-form-button-btn {
    transition: 0.5s;
  }
  .contact__container-form-button-btn:hover {
    transform: scale(1.2);
  }
}

.thanks {
  padding-top: 5rem;
}
@media (min-width: 769px) {
  .thanks {
    padding-top: 10rem;
  }
}
@media (min-width: 769px) {
  .thanks .thanks-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
  }
}
.thanks .thanks-content .thanks-img {
  display: none;
}
@media (min-width: 769px) {
  .thanks .thanks-content .thanks-img {
    display: block;
    width: 50%;
  }
  .thanks .thanks-content .thanks-img img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 769px) {
  .thanks .thanks-content .thanks-content2 {
    width: 50%;
  }
}
.thanks .thanks-content .thanks-content2 h4 {
  font-size: 2.4rem;
  text-align: center;
}
.thanks .thanks-content .thanks-content2 p {
  font-size: 1.4rem;
  padding: 5rem 0 3rem;
}
@media (min-width: 769px) {
  .thanks .thanks-content .thanks-content2 p {
    padding: 5rem 0 0 3rem;
  }
}
.thanks a {
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 5rem;
  background-color: #FFFF11;
  border: solid 0.1rem #009900;
}
@media (min-width: 769px) {
  .thanks a {
    transition: 0.5s;
  }
  .thanks a:hover {
    transform: scale(1.2);
  }
}

/*# sourceMappingURL=style.css.map */
