// 
// contactのサブページ
// 
.header2__catch--contact-img {
    background-image: url(../images/contact.jpg);
}
.contact__container {
    padding-top: 5rem;
    &-text, &-text--padding {
        padding-bottom: 1.5rem;
        font-size: 1.4rem;
    }
    &-text--padding {
        padding-bottom: 5rem;
    }
    //&-form {
    //}
        &-form-list {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            text-align: right;
            padding-bottom: 2rem;
            font-size: 1.2rem;
            @media(min-width: 769px) {
                flex-direction: row;
                padding-bottom: 5rem;
            }
            &:last-child {
                padding: 0;
            }
        }
        
            &-form-label {
                margin-left: 0;
                margin-right: auto; 
                @media(min-width: 769px) {
                    width: 40%;
                   display: flex;
                   justify-content: flex-start;
                }
            }
            &-form-radio-label {
                padding-right: 1.5rem;
                @media(min-width: 769px) {
                    padding-right: 3rem;
                }
            }
            &-form-area{
                width: 100%;
                margin-left: 0;
                margin-right: auto;
                height: 3rem;
                @media(min-width: 769px) {
                    width: 60%;
                }
            }
            &-form-text-filed {
                height: 6rem;
            }
            &-form-list-radio{
                display: flex;
                flex-direction: row;
                padding-bottom: 2rem;
                @media(min-width: 769px) {
                    padding-bottom: 5rem;
                }
            }
            &-form-button {
                justify-content: center;
            }
                &-form-button-btn {
                    width: 12rem;
                    height: 3rem;
                    border: none;
                    outline: none;
                    background: transparent;
                    background-color: $yellow;
                    border: .1rem solid $green;
                    border-radius: 5rem;
                    @media(min-width: 769px) {
                        transition: .5s;
                        &:hover {
                            transform: scale(1.2);
                        }
                    }
                }
            
        
        
        
        
        
        
    
}