// 
// seisakサブページのスタイル
// 
.header2__catch--seisaku-img {
    background-image: url(../images/seisaku.jpg);
}

.seisaku__container {
    padding-top: 5rem;
    @media(min-width: 769px) {
        padding-top: 10rem;
    }
    &-top {
        @media(min-width: 769px) {
            display: flex;
            align-items: center;
        }
    }
    &-photo {
        display: none;
        @media(min-width: 769px) {
            display: block;
            width: 50%;
            height: auto;
        }
    }
    &-img {
        @media(min-width: 769px) {
            width: 100%;
            height: auto;
        }
    }

    &-text-area {
        @media(min-width: 769px) {
            width: 50%;
        }
    }
    &-text {
        font-size: 1.2rem;
        line-height: 2rem;
        @media(min-width: 769px) {
            width: 80%;
            margin: 0 auto;
            font-size: 1.6rem;
        }
    }
    &-heading {
        font-size: 2.4rem;
        padding-top: 5rem;
        text-align: center;
        @media(min-width: 769px) {
            padding-top: 10rem;
            font-size: 3rem;
        }
    }
    
    
    
    
    &-flow {
        padding-top: 5rem;
        @media(min-width: 769px) {
            padding-top: 10rem;
            width: 100%;
        }
    }
    &-flow-heading {
        font-size: 1.6rem;
        padding-bottom: 2rem;
        @media(min-width: 769px) {
            font-size: 2rem;
        }
    }
    &-flow-box {
        width: 100%;
        @media(min-width: 769px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }
    &-flow-photo {
        @media(min-width: 769px) {
            width: 50%;
        }
    }
    &-flow-img {
        width: 100%;
        height: auto;
    }

    &-flow-text-area {
        @media(min-width: 769px) {
            width: 50%;
        }
    }
    &-flow-text {
        padding-top: 2rem;
        font-size: 1.2rem;
        @media(min-width: 769px) {
            width: 80%;
            padding: 0;
            margin: 0 auto;
            font-size: 1.6rem;
        }
    }


    i {
        display: block;
        padding-top: 5rem;
        text-align: center;
        font-size: 2rem;
        @media(min-width: 769px) {
            padding-top: 10rem;
            font-size: 8rem;
        }
    }

}
